 <style type="text/css">
  #sub_menu_1,#sub_menu_2,#sub_menu_3,#sub_menu_4,#sub_menu_5 {
   display: none;
  }
   #leftMenu ul{width:100px;background:#000000;position:absolute;list-style:none;}
   #leftMenu li{width:100px;position: relative;}
   #leftMenu li>ul{left: 100px;top: 0;display: none;}
   #leftMenu li:hover>ul{display: block;}
 </style>
<div class="bee-ssnav">
    <ul id="nav" class="nav ">
        {# <li class="nLi">
        {#            <h3><a href="{{ url_for('btc.btc_home') }}" target="_blank">BTC</a></h3>
        {#            <h3><a href="{{ url_for('btc.btc_home') }}" target="_blank">ZCASH</a></h3>
        {#        </li>  #}
    <li class="nLi on">
        <h3><a> 币种 <i class="fa fa-caret-down"></i></a></h3>
            <ul class="sub" id ="sub_menu_1">
                <li><a style="font-size:15px;" href="{{ url_for('btc.btc_home') }}" >Btc</a></li>
                 <li><a style="font-size:15px;" href="{{ url_for('eth.eth_home') }}" >Eth</a></li>
                <li><a style="font-size:15px;" href="{{ url_for('zcash.zcash_home') }}">Zcash</a></li>
                <li><a style="font-size:15px;" href="{{ url_for('xmr.xmr_home') }}">Monero</a></li>

{#                <li><a style="font-size:15px;" href="{{ url_for('btc.btc_home') }}">Monero</a></li>#}
        </ul>
    </li>
        <li class="nLi">
            <h3><a class="np">/</a></h3>
        </li>

        <li class="nLi on">
            <!-- 假设当前频道为“预告片”，手动或后台程序添加titOnClassName类名（默认是'on'），相当于设置参数defaultIndex:1。若同时设置参数returnDefault:true，则鼠标移走后0.3秒返回当前频道 -->
            <h3><a> {#  {{ page_title }} #} 功能模块 <i class="fa fa-caret-down"></i></a></h3>
            <ul class="sub" id ="leftMenu">
                <li><a style="font-size:15px;">查询系统<i class="fa fa-caret-right"></i></a>
                <ul id="sub_menu_1">
                    <li><a href="{{ url_for('zcash.zcash_block') }}" >区块</a></li>
                    <li><a href="{{ url_for('zcash.zcash_transaction') }}">交易</a></li>
{#                    <li><a href="{{ url_for('zcash.zcash_address') }}">地址</a></li>#}
                     {#  <li><a href="{{ url_for('btc.btc_block1') }}">地址网络出现</a></li> #}
                </ul>
                </li>
                <li ><a style="font-size:15px;">统计分析<i class="fa fa-caret-right"></i></a>
                <ul id="sub_menu_2">
                    <li><a href="{{ url_for('zcash.zcash_transction_static') }}">交易统计信息</a></li>
                    <li><a href="{{ url_for('zcash.zcash_address_static') }}">地址统计信息</a></li>

                </ul>
                </li>
                <li><a style="font-size:15px;">地址监控<i class="fa fa-caret-right"></i></a>
                <ul id="sub_menu_3">
                    <li><a href="{{ url_for('btc.btc_sepcialAddr') }}">特殊地址监控</a></li>

                </ul>
                </li>
                <li><a style="font-size:15px;">地址标签<i class="fa fa-caret-right"></i></a>
                <ul id="sub_menu_4">
                      <li><a href="{{ url_for('btc.btc_tag') }}">地址标签</a></li>
                </ul>
                </li>
                 <li><a style="font-size:10px;">启发式实验<i class="fa fa-caret-right"></i></a>
                <ul id="sub_menu_5">
{#                    <li><a href="{{ url_for('btc.btc_tag') }}">启发式一</a></li>#}
{#                    <li><a href="{{ url_for('btc.btc_tag') }}">启发式二</a></li>#}
{#                    <li><a href="{{ url_for('btc.btc_tag') }}">启发式三</a></li>#}
{#                    <li><a href="{{ url_for('btc.btc_tag') }}">启发式四</a></li>#}
{#                    <li><a href="{{ url_for('btc.btc_tag') }}">启发式五</a></li>#}
                    <li><a href="{{ url_for('zcash.zcash_rtt_txs') }}">RTT</a></li>
                </ul>
                </li>
            </ul>
        </li>

        {% if page_id %}
            <li class="nLi">
                <h3><a class="np">/</a></h3>
            </li>
            <li class="nLi">
                <h3><a>{{ page_id|truncate(20) }}</a></h3>
            </li>
        
        {% endif %}
        
    </ul>


</div>
<script type="text/javascript">
  function f(str){
    var sub_menu = document.getElementById(str);
    var dis_v = sub_menu.style.display;

    if(dis_v == "block")
     sub_menu.style.display = "none";
    else
     sub_menu.style.display = "block";

   }
 </script>

