{% extends 'base3.html' %}
{% block title %}{% endblock %}

{% block head_style %}
    {#    slick muban3527 #}


    <style type="text/css">
			.center-in-center {
			    font-size:40px;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		</style>

{% endblock %}
{% block content %}


{#    <h1>BTC BLOCK DETAIL</h1>#}
    <br>
<div class="center-in-center"><span>Query failed, please confirm the input!</span>
</div>
{% endblock %}

