{% extends 'base3.html' %}
{% from 'macros.html' import reciver %}
{% block title %}{% endblock %}

{% block head_style %}

{% endblock %}

{% block content %}

    {#    <h1>TRANSACTION DETAIL</h1>#}
    {% include '_btccrumb.html' %}
    <br>
    <div style="display:none">
<form action="{{ url_for('btc.get_i2p') }}" method="post" class="layui-form" style="margin-top: 20px " id="query_form" >
    <div  class="layui-form-item"  >
            <div  >
            <input type="text" name="remark" autocomplete="off" class="layui-input" id="remarks" value="" placeholder="关键词"  />
            </div>
            </div>
            <div  class="layui-form-item"  >
            <div  >
            <input type="text" name="keyword" autocomplete="off" class="layui-input" id="kws" value="" placeholder="关键词"  />
            </div>
            </div>
            <div  class="layui-form-item"  >
            <div  >
            <input type="text" name="address" autocomplete="off" class="layui-input" id="addrs" value="" placeholder="交易地址"  />
            </div>
            </div>

            <div class="layui-form-item">
                <div >
            <input type="text" name="domain" autocomplete="off" class="layui-input" id="domains" value="" placeholder="域名" /></div></div>
            <div class="layui-form-item" >
            <div >
            <input type="text" name="coin" autocomplete="off" class="layui-input" id="coins" value="" placeholder="btc/eth/monero/ltc"/>
            </div></div><div class="layui-form-item" >
            <div >
                <input type="text" name="sdate" autocomplete="off" class="layui-input" id="sdates" value="" placeholder="起始时间" onclick="dateClick()" >
            </div></div>
                <div class="layui-form-item" >
            <div >
                    <input type="text" name="edate" class="layui-input" id="edates" value="" placeholder="截止时间" onclick="dateClick()" >
            </div></div>
               <center><button type="submit"  class="btn btn-primary btn-sm"  value="" >查询</button><button type="reset"  style="margin-left: 20px "class="btn btn-primary btn-sm" onclick="layer.closeAll()">取消</button></center>
            </form>
</div>
    <div class="card">

        <div class="card-header">我的查询<button type="submit" style="float: right;margin-right: 25px" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('bee.i2p_senior_query') }}'">新的查询</button></div>
        <div class="card-body">
                    <table class="table " >
                        <thead>
               <tr>
                 <th>序号</th>
                <th>关键词</th>
                <th>备注信息</th>
{#                <th>域名</th>#}
{#                <th>币种</th>#}
{#                <th>起始时间</th>#}
{#                <th>截止时间</th>#}
                   <th></th>
                 <th></th>
            </tr>
            </thead>
            <tbody>
       {% for single in list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a >{{ single['kw']}}</a>
                </td>
                <td><a >{{ single['remark']}}</a></td>
                 <td><a style="color: cornflowerblue" id="{{ single }}" href="javascript:void(0);" onclick="querydetail(this.id)">查看详情</a></td>
                <td><button class="btn btn-primary btn-sm" style="color: white" id="{{ single }}" onclick="query_again(this.id)">再次查询</button></td>
            </tr>
        {% endfor %}
        </tbody>
                    </table>
          {{ pagination.links }}

        </div>
    </div>
     <div class="m-style M-box4"></div>
       <br>



    <br>
{% endblock %}

{% block body_script %}
    <script src="{{ url_for('static', filename='muban/3527/app.js') }}"></script>
    <script src="{{ url_for('static', filename='My97DatePicker/WdatePicker.js') }}"></script>


    {#    <script src="{{ url_for('static', filename='assets/js/page/btc_tsc_detail.js') }}" charset="GB2312"></script>#}
    {#    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>#}
    {#    tab #}
     <script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script>

     function query_again(single){
         remark=JSON.parse(single.replace(/'/g,'"')).remark;
       keyword = JSON.parse(single.replace(/'/g,'"')).kw;
       addr = JSON.parse(single.replace(/'/g,'"')).addr;
       coin = JSON.parse(single.replace(/'/g,'"')).coin;
       domain = JSON.parse(single.replace(/'/g,'"')).domain;
       sdate = JSON.parse(single.replace(/'/g,'"')).sdate;
       edate = JSON.parse(single.replace(/'/g,'"')).edate;
       {#alert(keyword+addr+coin+domain+sdate+edate);#}
        document.getElementById("remarks").value=remark;
       document.getElementById("addrs").value=addr;
       document.getElementById("coins").value=coin;
       document.getElementById("domains").value=domain;
       document.getElementById("sdates").value=sdate;
       document.getElementById("edates").value=edate;
       document.getElementById("query_form").action="{{ url_for('btc.get_i2p') }}";
       document.getElementById("query_form").submit();
            }
    function querydetail(single){
         remark=JSON.parse(single.replace(/'/g,'"')).remark;
       keyword = JSON.parse(single.replace(/'/g,'"')).kw;
       addr = JSON.parse(single.replace(/'/g,'"')).addr;
       coin = JSON.parse(single.replace(/'/g,'"')).coin;
       domain = JSON.parse(single.replace(/'/g,'"')).domain;
       sdate = JSON.parse(single.replace(/'/g,'"')).sdate;
       edate = JSON.parse(single.replace(/'/g,'"')).edate;
       document.getElementById("remarks").value=remark;
       document.getElementById("kws").value=keyword;
       document.getElementById("addrs").value=addr;
       document.getElementById("coins").value=coin;
       document.getElementById("domains").value=domain;
       document.getElementById("sdates").value=sdate;
       document.getElementById("edates").value=edate;
       document.getElementById("query_form").action="{{ url_for('btc.i2p_query_detail') }}";
       document.getElementById("query_form").submit();
       {#alert(keyword+maxval+minval+sdate+edate);#}
      {#var Udata= JSON.stringify({"addr":addr,"coin":coin,"domain":domain,"sdate":sdate,"edate":edate});#}
        {#alert(Udata);#}
            }
	function dateClick() {
		WdatePicker({
			dateFmt : 'yyyy-MM-dd HH:mm:ss',  //格式设置相对应界面可选择也变化
			highLineWeekDay:true,  //周末的日期是否高亮
			readOnly:true,  //是否允许键盘输入值，false为禁止输入，只能鼠标选
		});
	}
	</script>

{% endblock %}
