{#  三种dropdown button共存 #}

{% extends 'base3.html' %}
{% block title %}{% endblock %}

{% block head_style %}

    {#   open-iconic 双箭头 #}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/css/open-iconic/font/css/open-iconic-bootstrap.css') }}">

    {#    checkbox #}
    {#    paginationjs #}

    {#    theme #}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bee.theme.dark.css') }}"/>

    <style>
        .item-checked {
            background-color: #EEE5DE;

        }

        .dropdown-item:active {
            background-color: #EEDFCC;
            color: black;
        }

        .item-checked:hover {
            background-color: #EEE5DE;
        }

        .item-checked:active {
            background-color: #EEDFCC;

        }
    </style>

{% endblock %}

{% block content %}
    {% include '_btccrumb.html' %}
{#    <h1>BTC BLOCK </h1>#}
<br>
    <div class="card">
            <div class="card-header">查询结果({{ pagination.total }}  in i2p)<button type="submit" style="float: right;margin-right: 25px" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('bee.i2p_senior_query') }}'">高级查询</button><button type="submit" style="float: right;margin-right: 25px" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('bee.i2p_query_history') }}'">我的查询</button></div>
        <div class="card-body">
                    <table id="block_table" class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>交易地址</th>
{#            <th>#}
{#            <a href="/darknet/i2p_all?address={{ address }}&&domain={{ domain }}&&page={{ pagination.page }}&&order={{ re_order }}&&count={{ pagination.total }}&&coin={{ coin }}&&sdate={{ sdate }}&&edate={{ edate }}">#}
{#            <div style="display: block;white-space: nowrap;">#}
{#                <span>余额</span>#}
{#                <span class="oi oi-elevator"></span>#}
{##}
{#            </div>#}
{#            </a>#}
{#            <th/>#}
            <th>币种</th>
{#            <th>网站标签</th>#}
            <th>域名</th>
            <th width="10%">链接</th>
            <th>
            <a href="/darknet/i2p_all?address={{ address }}&&domain={{ domain }}&&page={{ pagination.page }}&&order={{ re_order }}&&count={{ pagination.total }}&&coin={{ coin }}&&sdate={{ sdate }}&&edate={{ edate }}">
            <div style="display: block;white-space: nowrap;">
                <span>创建时间</span>
                <span class="oi oi-elevator"></span>

            </div>
            </a>
            <th/>
        </tr>
        </thead>
        <tbody >
            {% for single_result in result %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/btc/address/{{ single_result.addr }}">{{ single_result.addr |truncate(20) }}</a></td>
{#                <td >{{ single_result.balance }}</td>#}
{#                <td></td>#}
                <td>{{ single_result.addrtype }}</td>
{#                <td>{{ single_result.tag }}</td>#}
                <td title={{ single_result.domain }} >{{ single_result.domain |truncate(25)}}</td>
                <td title={{ single_result.url }}><a href="{{ single_result.url }}">{{ single_result.url |truncate(20)}}</a></td>
                <td>{{ single_result.createtime }} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
                     {{ pagination.links }}

        </div>
    </div>
    <div class="m-style M-box4"></div>


{% endblock %}
{% block body_script %}


    {#    checkbox 排序开关#}

    {#    page #}
    <script type="text/javascript"
            src="{{ url_for('static', filename='assets/js/page/eth_block.js') }}"></script>

    {#    checkbox block_order_switch#}
    <script type="text/javascript"
            src="{{ url_for('static', filename='assets/js/table-filter.js') }}"></script>
    <script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
<script>
    function add_tag(){
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
         ,form = layui.form;
       layer.open({
            type:1,
            skin:'layui-layer-molv',
            area: ['500px', '50%'],
            content:'<form class="layui-form" style="margin-top: 20px" > ' +
            '<div class="layui-form-item" >' +
            ' <label class="layui-form-label" style="color:black">地址</label>' +
            '<div class="layui-input-inline"> ' +
            '<input type="checkbox" name="attr"  id="addr">' +
            '</div>' +
            '</div>' +
            '<div class="layui-form-item" >' +
            ' <label class="layui-form-label" style="color:black">域名</label>      <div class="layui-input-inline"> ' +
            '<input type="checkbox" name="attr"  id="domain"  ></div> ' +
            '<div class="layui-form-item" >' +
            ' <label class="layui-form-label" style="color:black">币种</label>     ' +
            ' <div class="layui-input-inline"> ' +
            '<input type="checkbox" name="attr" id="coin" >' +
            '</div>'+
            '<div class="layui-form-item" >' +
            ' <label class="layui-form-label" style="color:black">起始时间</label>'+'<div class="layui-input-inline"> ' +
            '<input type="checkbox" name="attr"  id="sdate" ></div>'+
                '<div class="layui-form-item" >' +
            ' <label class="layui-form-label" style="color:black">截止时间</label>'+'<div class="layui-input-inline"> ' +
            '<input type="checkbox" name="attr"  id="edate" ></div>'+
            '</form>',
            btn: ['生成查询', '取消查询'],
            btnAlign: 'c',
            yes: function(){
                gen_query();
            },
            btn2: function(){
                layer.closeAll();
            },
            success: function(layero, index){
                layui.use(['form','element'],function () {
                    var form = layui.form, element = layui.element;
                    form.render();
                });

            }
        });

});}
    function gen_sql(){
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
         ,form = layui.form;
       layer.open({
            type:1,
            skin:'layui-layer-molv',
            area:  ['500px', '60%'],
            content:'<form action="{{ url_for('btc.get_i2p') }}" method="post" class="layui-form" style="margin-top: 20px ;margin-left:80px" > ' +
            '<div  class="layui-form-item"  >' +

            '<div class="layui-input-inline" > ' +
            '<input type="text" name="address" autocomplete="off" class="layui-input" id="addrs" value="" placeholder="地址"/>' +
            '</div>' +
            '</div>' +
            '<div class="layui-form-item" >' +
                '<div class="layui-input-inline"> ' +
            '<input type="text" name="domain" autocomplete="off" class="layui-input" id="domains" value="" placeholder="域名"/></div> ' +'</div>'+
            '<div class="layui-form-item" >' +
            ' <div class="layui-input-inline"> ' +
            '<input type="text" name="coin" autocomplete="off" class="layui-input" id="coins" value="" placeholder="btc/eth/monero/ltc"/>' +
            '</div>'+'</div>'+'<div class="layui-form-item" >' +
            ' <div class="layui-input-inline"> ' +
                '<input type="text" name="sdate" autocomplete="off" class="layui-input" id="sdates" value="" placeholder="起始:yyyy-MM-dd HH:mm:ss"/>' +
            '</div>'+'</div>'+
                '<div class="layui-form-item" >' +
            ' <div class="layui-input-inline"> ' +
                    '<input type="text" name="edate" autocomplete="off" class="layui-input" id="edates" value="" placeholder="截止:yyyy-MM-dd HH:mm:ss" onclick=dateClick()/>' +
            '</div>'+'</div>'+
                '<button type="submit" style="margin-left: 25px;" class="btn btn-primary btn-sm">查询</button>'+'<button type="reset" style="margin-left: 25px;" class="btn btn-primary btn-sm" onclick="layer.closeAll()">取消</button>'+
            '</form>'
            /*btn: ['查询', '取消'],
            btnAlign: 'c',
            yes: function(){
                saveNode();
                //gen_query();
            },
            btn2: function(){
                layer.closeAll();
            },
            success: function(layero, index){
                layui.use(['form','element'],function () {
                    var form = layui.form, element = layui.element;
                    form.render();
                });

            }*/
        });
});}
	function dateClick() {
		WdatePicker({
			dateFmt : 'yyyy-MM-dd HH:mm:ss',  //格式设置相对应界面可选择也变化
			highLineWeekDay:true,  //周末的日期是否高亮
			readOnly:true,  //是否允许键盘输入值，false为禁止输入，只能鼠标选
		});
	}
        function gen_query() {
        var num=0;
        var num_uncheck=0;
        var check = new Array();
        var uncheck = new Array();
        var attr_ = document.getElementsByName("attr");
        for ( var i = 0; i < attr_.length; i++) {
            if (attr_[i].checked) {
                check[num]=attr_[i].id;
                num++;
            }
            else {
                uncheck[num_uncheck]=attr_[i].id+'s';
                num_uncheck++;
            }

        }
        var Udata= JSON.stringify({"checked":check,"num":num});
        if(num==0){
            alert("未选参数!");
        }
        else{
           gen_sql();
            //alert(check);
        for ( var i = 0; i < uncheck.length; i++) {
               document.getElementById(uncheck[i]).hidden=true;
        }
        }
       /* $.ajax({
            url:'/darknet/query/' ,
            type:'POST',
            contentType: 'application/json; charset=UTF-8',
            data:Udata,
            success:function () {
                if(res.code[0] == 'addr'){
                    layer.closeAll();


                }else{
                    layer.msg(res.message,{time:2000})
                }
                location.reload(true);
            }
        })*/

        {#prompt("ss","sad");#}
        //window.alert(check[0]+num);

    }
   </script>
{% endblock %}
</html>
